<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="\public\stylesheets\style.css">
<script type="text/javascript" src="contact.js"></script>
<script src='/js/mapmein.js'></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
</head>

<body>
    

    <li><a href="login.ejs">ログイン画面</a></li>
    <li><a href="request.html">依頼画面</a></li>
<div><h1>助けられる画面</h1></div>
<div>
    <form action="confirm.php" method="post" name="form" onsubmit="return validate()">
            <div>
                <select name="item">
                <div><h2>ジャンル</h2></div>        
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
               
            </div>
            
            
            <input type="submit" value="送信する">
            <input type="reset" value="リセット">
    </form>
</div>
</body>
</html>