<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>
    <%= title %>
  </title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
  <script src='/js/helpusermap.js'></script>
</head>

<body onload="init()">
  <% if(isAuth) { %>
    <div id="map" style="width:600px;height:600px"></div>
    <input type="hidden" name="example" id="tasks" value=<%=JSON.stringify(tasks) %>>
    <form name="helpform" action="/helpform" method="post">
      <input type="hidden" id="taskid" name="taskid" />
    </form>
    <a href="/tohelpuser">助けられる人用ページはこちら</a>
    <a href="/logout">ログアウト</a>
    <ul>
      <% } else { %>
        <h1>困った人マップにようこそ</h1>
        <a href="/signin">ログインしてください</a>
        <a href="/signup">アカウント登録はこちら</a>
        <% } %>
</body>

</html>