<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <title>
    <%= title %>
  </title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
  <script src='/js/helpusermap.js'></script>
</head>

<body onload="init()">
  <% if(isAuth) { %>
    <div id="map" style="width:600px;height:600px"></div>
    <input type="hidden" name="example" id="tasks" value=<%=JSON.stringify(tasks) %>>
    <form name="helpform" action="/helpform" method="post">
      <input type="hidden" id="taskid" name="taskid" />
    </form>
    <a href="/needhelpuser">助けられる人用ページはこちら</a>
    <a href="/logout">ログアウト</a>
    <ul>
      <% } else { %>
        <h1>困った人マップにようこそ</h1>
        <a href="/signin">ログインしてください</a>
        <a class="btn btn-primary" href="/signup" role="button">アカウント登録はこちら</a>
        <a href="/signup"></a>
        <% } %>
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>