<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('./error_messages'); %>
    <% if(isAuth) { %>
      <form action="/" method="post">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder="何をする?" />
        <input type="submit" value="追加" />
      </form>
      <ul>
        <% for(let task of tasks){ %>
          <li><span>
              <%= task.content %>
            </span></li>
          <% } %>
      </ul>
      <% } else { %>
        <h1>困った人マップにようこそ</h1>
        <% } %>
          <a href="/map">Go map</a>
</body>

</html>