<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>
    <%= title %>
  </title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<script>
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
  function successCallback(position) {
    // 緯度を取得し画面に表示
    latitude = position.coords.latitude;
    // 経度を取得し画面に表示
    longitude = position.coords.longitude;
    document.getElementById("mylat").value = latitude;https:
    document.getElementById("mylng").value = longitude;
  };
  // 取得に失敗した場合の処理
  function errorCallback(error) {
    console.log(error)
    alert("位置情報が取得できませんでした");
  };
</script>

<body>
  <%- include('./error_messages'); %>
    <% if(isAuth) { %>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
      <form action="/tohelpuser" method="post">
        分類:
        <select name="classification" required>
          <option value="力仕事">力仕事</option>
          <option value="軽作業">軽作業</option>
          <option value="物探し">物探し</option>
          <option value="道案内">道案内</option>
          <option value="その他">その他</option>
        </select>
         
        内容:
        <input type="text" id="content" name="contents" required />
        <input type="hidden" id="mylat" name="mylat" />
        <input type="hidden" id="mylng" name="mylng" />
        <input type="submit" class="btn btn-primary" value="送信" />
      </form>
      </div>
      <div class="row">
      あなたの投稿した困りごと
      <ul>
        <% for(let todo of todos){ %>
          <li><span>
            <form action="/tohelpuser" method="post">
              <%= todo.content %><input type="submit" value="解決" />
              </form>
            </span></li>
            
          <% } %>
      </ul>
      <a href="/helpuser">助ける人用ページはこちら</a>
      <a href="/logout">ログアウト</a>
      </div>
      </div>
      <% } else { %>
        <h1>困った人マップにようこそ</h1>
        <a href="/signin">ログインしてください</a>
        <a href="/signup">アカウント登録はこちら</a>
        <% } %>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>